@model QLDiem.Models.NamHoc

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h1>Create</h1>

<h4>Năm học</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <a>Mã năm học</a>
                <input asp-for="NamHocId" class="form-control" value="@ViewBag.NamHocID" readonly />
                <span asp-validation-for="NamHocId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a>Năm học</a>
                <input asp-for="NamHoc1" class="form-control" />
                <span asp-validation-for="NamHoc1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

